.app-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-background);
  transition: background-color 0.3s;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }
}
